# Python-specifics
**/__pycache__/
*.pyc
venv/
.venv/
**/*.py[cod]
**/*$py.class
**/.pytest_cache/

# Web-specifics
**/node_modules/
**/build/
**/dist/
**/coverage/
.env
**/.env
.env.local
**/.eslintcache
**/.next/

# Docker/System
.DS_Store
*.log
.docker/
v2/db_data/
v2/redis_data/

# IDEs/Editors
.vscode/
.idea/
*.swp
*.swo
